.contactparagraph {
    width: 100%;
  }
  
  .numbercontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  
  .number1,
  .number2 {
    width: 100%; 
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  
  .number1 {
    text-align: left;
  }
  
  .number2 {
    text-align: left;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .accordion-body {
    padding: 15px;
  }
  .anchortag a,strong{
 text-decoration: none;
 padding: 20px;
 margin-top: 10px;
  }
  