.cards {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
    width: 83%;
    overflow-x: auto;
    padding: 10px;
    margin-top: 40px;
    
}
.cardcon {
    flex-shrink: 0;
}
.cards::-webkit-scrollbar {
    display: none;
}
.headingexplore {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
}